body {
	background-image: url(https://niluka2a.files.wordpress.com/2013/04/drupal.jpg);
}
#IN2 {
	color: #FFFFFF;
	
}
#IN {
	transform: rotate(0deg) scale(0.5);
	transition: 5s all;
	background-color: #fff; 
	color: #333;
	padding: 15px;
	margin: 15px;
	border: 7px solid #004D7B; 
	border-radius: 100px;
	opacity: 0.9;
	box-shadow: 10px 10px 10px #3AE2CE;
	height: 50px;
	display: block;
	text-align: center;
	text-overflow: hidden;
	font-size: 30px;
	font-weight: 900;
	text-decoration: blink;
}
#IN:hover {
	transform: rotate(360deg) scale(0.7);
	background-color: #357EC2;
}
#IN3 {
	color: #FFFFFF;
}
#IN4 {
	color: #FFFFFF;
}
